::-webkit-scrollbar{
    width:1em;
  }
  
  ::-webkit-scrollbar-track{
    background: #dddddd;
  }
  
  ::-webkit-scrollbar-thumb{
    background: var(--c-brand);
  }

  .fullscreen{
    height: calc( 100vh - var(--navbar-height) );
    overflow: hidden;
    width: 100%;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }